.disposisi {
    background: url('./images/Disposisi.png') no-repeat;
    width: 105mm;
    height: 160mm;
    background-size: contain;
    -webkit-print-color-adjust: exact;
}
* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
    color-adjust: exact !important;                 /*Firefox*/
}
.tops{

}
.midle1{
height: 32mm;
margin-left: 8mm;
margin-right: 20mm;
}
.midle2{
height: 15mm;
}
.bottoms{
height: 100mm;
}