.kksm {
    background: url('./images/kksm.png') no-repeat;
    width:  150mm;
    height: 93mm;
    background-size: contain;
    -webkit-print-color-adjust: exact;
}
.tops{
    height:10mm;
}
.mid1th{
    height: 14mm;
}
.bottoms{
    height: 16mm;
}
.mid2nd{
    height: 9mm;
}
.bottom1th{
    height: 10mm;
}
.bottom2nd{
    height: 10mm;
}
/*!